
<% if notice.present? %>
<div class="callout primary">
  <%= notice %>
</div>
<% end %>

<div class="row align-stretch">
  <div class="column align-middle">
    <%= form_tag venues_path, method: :get do %>
      <div class="row">
        <div class="medium-8 columns">
          <%= text_field :search, nil, value: @search, placeholder: 'Venue or city name', id: 'venue', autofocus: true %>
        </div>
        <div class="medium-2 columns">
          <%= submit_tag 'Search', class: 'button large' %>
        </div>
        <div class="medium-2 columns">
          <% if params[:search] %>
            <%= submit_tag 'Reset', class: 'button secondary small' %>
          <% end %>
        </div>
      </div>
    <% end %>

    <% if @venues.empty? %>
      <span class="alert label">No venues found, try another spelling</span>
    <% end %>

  </div>
</div>


<div class="row">
  <div class="column">
    <ul id="venues" class="no-bullet">

      <% @venues.group_by{|v| v.city }.each do |city, venues| %>
        <li class="row venue-block">
          <div class="column shrink">
            <h2><%= city %></h2>
          </div>
          <div class="column">
            <ul class="no-bullet">
              <% venues.each do |venue| %>
                <li><h4>
                  <span class="info label"><i class="fi-home"></i></span>
                  <%= link_to(venue.name, "http://maps.google.com/?ie=UTF8&hq=&q=#{venue.lat},#{venue.lng}&z=12", title: "Show map of #{venue.name}") %>
                </h4></li>
              <% end %>
            </ul>
          </div>
        </li>
      <% end %>

    </ul>
  </div>
</div>

<br>

