
@font-face {
  font-family: LabGrotesque;
  font-weight: normal;
  src: font_url("LabGrotesque-Regular.otf") format("opentype");
}

@font-face {
  font-family: LabGrotesque;
  font-weight: bold;
  src: font_url("LabGrotesque-Bold.otf") format("opentype");
}

