body > .row:first-of-type {
  padding-top: 2.5rem;
}


input#venue {
  font-size: 1.4rem;
  padding: .86rem;
  height: auto;
}

#venues {
  margin-top: 20px;
  h2 {
    margin-bottom: 10px;
  }
  -webkit-column-width: 350px;
  -moz-column-width: 350px;
  column-width: 350px;
  -webkit-column-gap: 20px;
  -moz-column-gap: 20px;
  column-gap: 20px;
  .venue-block {
      display:inline-block; /* prevent unexpected item cropping */
      //margin: 0 0 5px 0;
  }
}

